<footer>
    <div class="conteiner">
            <a class="logo" href="index.php"><img src="../../assets/img/Bloomify-logo2.png"></a>
        <div class="wrapper-footer-menu">
            <div>
                <a class="footer-title" href="index.php">Товары</a>
                <p>Добавить товар</p>
                <p>Добавить категорию</p>
                <p>Удалить категорию</p>
                <p>Товары</p>
            </div>
    
            <div>
                <a class="footer-title" href="orders.php">Заказы</a>
                <p>Посмотреть</p>
                <p>Подтвердить</p>
                <p>Отменить</p>
            </div>
        </div>
    </div>
    <div class="center">Тестовое задание</div>
</footer>