<footer>
    <div class="conteiner">
        <div class="wrapper-left">
            <a class="logo" href="index.php"><img src="assets/img/Bloomify-logo2.png"></a>
            <div class="social-network">
                <a href="https://vk.com" class="social vk"></a>
                <a href="https://web.telegram.org" class="social tg"></a>
            </div>
        </div>
        <div>
            <a class="footer-title" href="index.php">О нас</a>
            <p>Акции</p>
            <p>Доставка</p>
            <p>Оплата</p>
        </div>

        <div>
            <a class="footer-title" href="catalog.php">Каталог</a>
            <p>Букет</p>
            <p>Композиция</p>
            <p>Розы</p>
            <p>Хризантемы</p>
        </div>
        <div>
            <a class="footer-title" href="to-find.php">Контакты</a>
            <p>г. Москва ул. Уличная, д. 2 </p>
            <p class="wrapper-telephone">
                <span class="telephone">+7-123-456-78-90</span><br>
                <span>Пн - Сб | 9:00 - 21:00</span>
            </p>
            <p class="email">gmail@gmail.com</p>
        </div>
    </div>
        <div class="center">Тестовое задание</div>
</footer>